.dashboard-row{
  display: flex;
}

.unitpanel{
  flex: 30%;
}

.statisticspanel{
flex: 70%;
  margin-left: 10px;
}

@media(max-width: 600px) {

  .dashboard-row{
    display: block;
  }
  .unitpanel{
    flex: 100%;
  }

  .statisticspanel{
    flex: 100%;
  }
}
