<mat-tab-group mat-align-tabs="center" *ngIf="sensorData" (selectedTabChange)="unitSelected($event)"  animationDuration="400ms">
  <mat-tab *ngFor="let unit of sensorData; let i = index"
           class="selectionButtons"
           label="id: {{unit.id}}">
    <div *ngIf="sensorData && selectedUnit.index !== null">
      <h2 class="location">Unit location: {{selectedUnit.location}}</h2>
      <h2 class="id">Unit id: {{selectedUnit.id}}</h2>

      <div class="gauge-container">
        <ng-container *ngFor="let currentSensor of sensorNumbers">
          <app-gauge [sensorData]="sensorData"
                     [currentSensorUnit]="i"
                     [currentSensor]="currentSensor"></app-gauge>
        </ng-container>
      </div>
      <ng-container *ngFor="let currentSensor of sensorNumbers">
        <app-line-graph-of-one-sensor [sensorData]="sensorData"
                                      [currentSensorUnit]="i"
                                      [currentSensor]="currentSensor"></app-line-graph-of-one-sensor>
      </ng-container>

<!--      <app-line-graph-of-one-sensor [sensorData]="sensorData"
                                    [currentSensorUnit]="selectedUnit.index"
                                    [currentSensor]="0"></app-line-graph-of-one-sensor>
      <app-line-graph-of-one-sensor [sensorData]="sensorData"
                                    [currentSensorUnit]="selectedUnit.index"
                                    [currentSensor]="6"></app-line-graph-of-one-sensor>
      <app-line-graph-of-one-sensor [sensorData]="sensorData"
                                    [currentSensorUnit]="selectedUnit.index"
                                    [currentSensor]="2"></app-line-graph-of-one-sensor>
      <app-line-graph-of-one-sensor [sensorData]="sensorData"
                                    [currentSensorUnit]="selectedUnit.index"
                                    [currentSensor]="3"></app-line-graph-of-one-sensor>
      <app-line-graph-of-one-sensor [sensorData]="sensorData"
                                    [currentSensorUnit]="selectedUnit.index"
                                    [currentSensor]="4"></app-line-graph-of-one-sensor>
      <app-line-graph-of-one-sensor [sensorData]="sensorData"
                                    [currentSensorUnit]="selectedUnit.index"
                                    [currentSensor]="5"></app-line-graph-of-one-sensor>-->
    </div>
  </mat-tab>
</mat-tab-group>

