.infoContainer {

}

.informationButtonContainer {
  width: 25%;
  float: left;
}

.informationButtons {
  width: 100%;
  margin-bottom: 5px;
}

.button-titles{
  margin-top: 10px;
  margin-bottom: 0;
}

.infoDisplayContainer{
  width: 65%;
  float: right;
}
