table {
  width: 100%;
}

.element-description-attribution {
  opacity: 0.5;
}

.smallCell {
  width: 100px;
}

.mediumCell {
  width: 100px;
}

.bigCell {

}

.sensorDataStyling {
  margin: 10px 6px 0 6px;
}


