table {
  width: 100%;
}

.element-description-attribution {
  opacity: 0.5;
}

.smallCell {
  width: 100px;
}

.mediumCell {
  width: 100px;
}

.bigCell {

}

.sensorDataStyling {
  margin: 2px;
  display: inline;
  color: black !important;
  cursor: pointer;
}

.safety_icon {
  vertical-align: middle;
}

.unitRow {
  cursor: pointer;
}

.fullWidth {
  width: 100%;
  display: flex;
}

