.home-container{
}

.home-image{
  width: 100%;
  border-radius: 5px;
}

.home-text{

}

.home-text-container{
  margin-top: 20px;
}

.home-title{
  margin-bottom: 0;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.small-image{
  width: 200px;
}

.copyrightText{
  margin: 40px 0 5px 0;
  text-align: center;
  color: grey;
  font-size: 75%;
}

