<div class="home-container">
  <img class="home-image" src="https://i.imgur.com/ip7FG50.jpg">
  <div class="home-text-container">
    <h3 class="home-title">Clean air</h3>
    <p class="home-text">Clean air was already an important topic to consider. It is required for a healthy life to live
      in an area where you can breathe healthy air. Currently, with the pandemic, the requirements for clean air have
      skyrocketed. People after COVID have little lung capacity left and if the air quality is low they could not get
      the
      right amount of oxygen they need.</p>
  </div>
  <div class="home-text-container">
    <h3 class="home-title">AirQualityDashboard helps you with this!</h3>
    <div class="flex-container">
      <p class="home-text">To get a better understanding of how you can improve the quality of air around you you first
        need
        to understand what makes good air.
        Our dashboard will explain what factors influence the air quality in what way. You will understand what creates
        clean air and you will be able to improve the quality of the air around yourself. </p>
      <img class="small-image" src="https://i.imgur.com/2Krrcqn.png">
    </div>
  </div>
  <div class="home-text-container">
    <h3 class="home-title">AirQualitySensorKit</h3>
    <div class="flex-container">
      <p class="home-text">The sensor kit will actively measure the air quality in the room of your choosing, not only
        will
        you get live statistics of the current situation in your area. You will also get informed if the quality of air
        becomes a danger to your health and how to change it.
        To sensor kit, is the perfect tool to make sure you are breathing the air you deserve!</p>
      <img class="small-image" src="https://i.imgur.com/wLA1jyT.png">
      <img class="small-image" src="https://www.distrelec.nl/Web/WebShopImages/landscape_large/9-/01/Adafruit_2651_30129199-01.jpg">
    </div>
  </div>
  <p class="copyrightText">© 2020-2021   Groep-1-HsLeiden</p>
</div>
