.popup-location{
  font-size: 250%;
}

.popup-id-and-time{
  margin-top: 0;
  margin-bottom: 0;
}

.popup-sensor{

}


.popup-devider{
  margin-top: 15px;
  margin-bottom: 10px;
}

.safety_icon{
  vertical-align: middle;
}
