<mat-dialog-content>
  <div *ngIf="data.sensorData !== undefined">
    <h1 class="popup-location">Location:  {{data.location}}</h1>
    <h4 class="popup-id-and-time">Id:        {{data.id}}</h4>
    <h4 class="popup-id-and-time">Timestamp: {{createReadableTimestamp(data.timestamp)}}</h4>

    <mat-divider class="popup-devider"></mat-divider>

    <div *ngFor="let sensor of data.sensorData; let i = index" class="sensorDataText" (click)="sensorClicked(sensor)">
      <h3 class="popup-sensor">{{sensor.sensorName}}
        : {{sensor.sensorValue}}{{sensor.sensorDataUnit}}
        <mat-icon class="safety_icon"
                  [ngStyle]="{'color': data.safetyColor[i]}">{{data.safetyRating[i]}}</mat-icon>
      </h3>
    </div>

  </div>
</mat-dialog-content>
