.popup-location{
  font-size: 250%;
}

.popup-id-and-time{
  margin-top: 0;
  margin-bottom: 0;
}

.popup-sensor{

}

.popup-table{
  width: 750px;
}


.popup-devider{
  margin-top: 15px;
  margin-bottom: 10px;
}

.safety_icon{
  vertical-align: middle;
}

.sensorDataText{
  cursor: pointer;
}

.smallCell {
  width: 100px;
}

.mediumCell {
  width: 100px;
}


.sensorDataStyling {
  margin: 2px;
  display: inline;
  color: black !important;
  cursor: pointer;
}
