.popup-location{
  font-size: 250%;
}

.popup-id-and-time{
  margin-top: 0;
  margin-bottom: 0;
}

.popup-sensor{

}

.popup-table{
  width: 750px;
}


.popup-devider{
  margin-top: 15px;
  margin-bottom: 10px;
}

.safety_icon{
  vertical-align: middle;
}


.sensorDataStyling {
  display: flex !important;
  color: black !important;
  cursor: pointer;
}


.sensorDataText{
  cursor: pointer;
}

.smallCell {
  width: 100px;
}

.mediumCell {
  width: 100px;
}

.sensorDataContainer{
  padding: 8px 0;
}

.sensorDataButton{
  margin: 2px;
  height: 42px;
}

.safety-scale-container {
  margin: 0px 0 2.5px 5px;
  //background-color: blue;
  width: 100px;
  height: 30px;
}

.safety-scale-red{
  margin: 5px 0 10px 0;
  background-color: #ff3b3b;
  width: 100px;
  height: 15px;
  box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}
.safety-scale-yellow{
  margin: 5px 15px 10px 15px;
  background-color: #f9ff4a;
  width: 70px;
  height: 15px;
  box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}
.safety-scale-green{
  margin: 5px 10px 10px 10px;
  background-color: #42ff65;
  width: 50px;
  height: 15px;
  box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.safety-scale-CorrectValues{
  background: rgba(0,0,0,0);
  width: 50px;
  height: 20px;
  box-shadow: inset -2px 0 0 black, inset 0 0 0 black, inset 2px 0 0 black, inset 0 0 0 black;
  position: relative;
  top: -25px;
  left: 25px;
}

.safety-scale-CorrectValues-value-left{
  width: 50px;
  height: 10px;
  position: relative;
  top: 10px;
  left: -25px;
}

.safety-scale-CorrectValues-value-right{
  width: 50px;
  height: 10px;
  position: relative;
  top: 0px;
  left: 25px;
}

.safety-scale-Pointer{
  background: rgba(0,0,0,0);
  width: 3px;
  height: 16px;
  box-shadow: inset 0px 0 0 white, inset 0 0 0 black, inset 2px 0 0 #0004ff, inset 0 0 0 black;
  position: relative;
  top: -25px;
}

