<mat-dialog-content>
    <div *ngIf="data.sensorData !== undefined">
        <h1 class="popup-location">Location: {{data.location}}</h1>

        <div class="popup-export-container">
          <mat-spinner *ngIf="exportingData == true" diameter="35"></mat-spinner>

          <button mat-raised-button (click)="exportDataClicked()" [disabled]="exportingData">
              Export data
            </button>
        </div>

        <h4 class="popup-id-and-time">Id: {{data.id}}</h4>
        <h4 class="popup-id-and-time">
            Last update is
            from: {{dataServ.createReadableTimestamp(dataServ.getMostRecentSensorReading(data.sensorData).timestamp)}}</h4>

        <mat-divider class="popup-devider"></mat-divider>


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 popup-table" matSort>

            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef class="mediumCell" mat-sort-header> Timestamp</th>
                <td mat-cell
                    *matCellDef="let element">
                    <div>{{dataServ.createReadableTimestamp(element.timestamp)}}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="sensorData">
                <th mat-header-cell *matHeaderCellDef class=""> Sensor data</th>
                <td mat-cell *matCellDef="let element" style="display: flex; flex-wrap: wrap;">
                    <mat-list *ngIf="element.data !== undefined" class="sensorDataContainer">
                        <button mat-raised-button
                                class="sensorDataButton"
                                [ngStyle]="{'background-color': dataServ.getSafetyColorCode(sensorReadings.sensorType, sensorReadings.sensorValue)}"
                                *ngFor="let sensorReadings of element.data"
                                (click)="sensorClicked(sensorReadings)">
                            <div class="sensorDataStyling">{{sensorReadings.sensorName}}
                                : {{dataServ.roundSensorData(sensorReadings.sensorValue)}} {{sensorReadings.sensorDataUnit}}

                                <div class="safety-scale-container">
                                    <!--              !!! This is the scale !!!                  -->
                                    <div class="safety-scale-red">
                                        <div class="safety-scale-yellow">
                                            <div class="safety-scale-green">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="safety-scale-CorrectValues">
                                        <div class="safety-scale-CorrectValues-value-left">{{dataServ.getCorrectSensorType(sensorReadings.sensorType).minimalValue}}</div>
                                        <div class="safety-scale-CorrectValues-value-right">{{dataServ.getCorrectSensorType(sensorReadings.sensorType).maximumValue}}</div>
                                        <div class="safety-scale-Pointer"
                                             [ngStyle]="{'left': dataServ.getSafetyRating(sensorReadings.sensorType, sensorReadings.sensorValue)}"></div>
                                        <div class="safety-scale-Pointer-top"
                                             [ngStyle]="{'left': dataServ.getSafetyRating(sensorReadings.sensorType, sensorReadings.sensorValue)}"></div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </mat-list>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let sensorRowData; let i = index; columns: columnsToDisplay;" class="unitRow"></tr>
        </table>
    </div>
    <a href="#" download="data.csv" class="data-export-link" #exportDataLink></a>
</mat-dialog-content>
